h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/Roboto/Roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: Montserrat;
  --font-secondary: Montserrat;
}

.typography-body1 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.typography-body2 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.typography-h1 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -1.5px;
}
.typography-h2 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.5px;
}
.typography-h3 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}
.typography-h4 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  letter-spacing: 0.25px;
}

.typography-h5 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.typography-h6 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.typography-subtitle1 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.typography-subtitle2 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.typography-button {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.typography-caption {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.typography-overline {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.typography-navbar {
  font-family: var(--font-primary);
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 100vh;
}

*,
* > *,
* * {
  box-sizing: border-box;
}

label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --color-primary: #00b4cd;
  --color-primaryDarker: #006963;
  --color-primaryLighter: #09fff1;
  --color-primaryOpaque: rgba(2, 63, 34, 0.65);

  --color-secondary: #6700ca;
  --color-secondaryDarker: #6700ca;
  --color-secondaryLighter: #ebe8ff;

  --color-disabledDarker: #828282;
  --color-disabledBackground: #f2f2f2;

  --color-darkgrey: #717171;
  --color-lightgrey: #eeeeee;
  --color-grey: #bdbdbd;

  --color-yellow: #ffd166;

  --color-red: #d50000;

  --color-white: #fff;
  --color-whiteOpaque: rgba(255, 255, 255, 0.8);

  --color-black: #263238;
  --color-blackBackground: rgba(0, 0, 0, 0.1);
  --color-blackOpaque: rgba(33, 33, 33, 0.8);

  --color-success: #48fe93;
  --color-successForeground: #005a34;

  --color-error: #fe4848;
  --color-errorforeground: white;

  --use-pull-to-refresh-spinner-color: #00b4cd;
}

:root {
  --spacing-center: 0 auto;
  --spacing-unit: 16px;
  --spacing-none: 0;
  --spacing-xxs: calc(0.25 * var(--spacing-unit));
  --spacing-xs: calc(0.5 * var(--spacing-unit));
  --spacing-s: calc(0.75 * var(--spacing-unit));
  --spacing-m: calc(1.25 * var(--spacing-unit));
  --spacing-l: calc(2 * var(--spacing-unit));
  --spacing-xl: calc(3.25 * var(--spacing-unit));
  --spacing-xxl: calc(5.25 * var(--spacing-unit));
}

:root {
  --transition-1: 0.2s;
}
